.card:first-child{
    border: 2px solid black;
}
.card{
    border: 1px solid black;
    border-radius: 14px;
    margin: 13px;
    padding: 20px;
    padding-left: 35px;
}


.no-type{
    color: crimson;
    background-color: yellowgreen;
}

.muscle-car{
    color: #f5f5f5;
    background-color: gray;
}

.sport-car{
    color: #E69A8D;
    background-color: #5F4B8B;
}
button.search{
    margin-left: 12px;
    margin-top: 8px;
}