.card:first-child{
    border: 2px solid black;
}
.card{
    border: 2px solid black;
    border-radius: 14px;
    margin: 13px;
    padding: 20px;
    padding-left: 35px;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .card {
    flex: 0 0 calc(20% - 10px);
    margin: 10px;
  }

.no-type{
    color: c2d0a470;
    background-color: #c2d0a470;
    transition: background-color 0.3s ease-in-out;
}
.no-type:hover {
    background-color: #e4e6df90; 
    border-color: #ffffff99;
}
.tt{
    text-align: center;
}
.search{
    margin-left: 19px;
    color: white;
    
   
}
.tt{
    color: white;
    
}
button{
     background-color: #afafaf; 
     margin: 8px;
}
.card h1 {
    text-align: center;
    
}

.muscle-car{
    color: #060505;
    background-color: darkolivegreen;
    transition: background-color 0.3s ease-in-out;
}
.muscle-car:hover {
    background-color:#ffffff90; 
    border-color: #ffffff99;
}
img{
    float: right;
    margin-right: 122px;
    margin-bottom: 12px;
}
.sport-car{
    color: #010101;
    background-color: #5F4B8B;
    transition: background-color 0.3s ease-in-out;
}
.sport-car:hover {
    background-color: #ffffff90; 
    border-color: #ffffff99;
}
button.search{
  
    margin: auto;
  
}
.search {
    display: flex;
    justify-content: center;
    align-items: center;
  }