<app-create-content (onCreation)="addCard($event)">

</app-create-content>

<div>
    <input type="text" [(ngModel)]="titleValue" placeholder="Search For Title...">
    <button class="search" (click)="titleSearch()">Search</button>
</div>

<div *ngIf="isTitleFound !== null">
    <p [style.color]="isTitleFound ? 'green' : 'red'">
        {{isTitleFound ? 'Title Found' : 'Title Not Found'}}
    </p>
</div>


<div>
    <h1>NO Type</h1>
    <div *ngFor="let card of cards | contentTypeFilter" class="no-type card">
        
        <div *ngIf="card.imgURL; else NoImage">
            <img [src]="card.imgURL" alt={{card.title}} (click)="log(card)">
        </div>
        <ng-template #NoImage>
            <img [src]="img" alt={{card.title}} (click)="log(card)">
        </ng-template>
        <h1>{{card.title}}</h1>
        <p>{{card.description}}</p>
        <div>Creator: {{card.creator}}</div>
        <div appHoverAffect='underline'>Type: {{card.type}}</div>
        <div *ngIf="card.tags">Tags: 
            <span *ngFor="let tag of card.tags" appHoverAffect="bold">
                {{tag}},
            </span>
        </div>
    </div>
</div>

<div>
    <h1>Muscle Car</h1>
    <div *ngFor="let card of cards | contentTypeFilter:'Muscle Car'" class="muscle-car card">
        <div *ngIf="card.imgURL; else NoImage">
            <img [src]="card.imgURL" alt={{card.title}} (click)="log(card)">
        </div>
        <ng-template #NoImage>
            <img [src]="img" alt={{card.title}} (click)="log(card)">
        </ng-template>
        <h1>{{card.title}}</h1>
        <p>{{card.description}}</p>
        <div>Creator: {{card.creator}}</div>
        <div appHoverAffect='underline'>Type: {{card.type}}</div>
        <div *ngIf="card.tags">Tags: 
            <span *ngFor="let tag of card.tags" appHoverAffect="bold">
                {{tag}},
            </span>
        </div>
    </div>
</div>


<div>
    <h1>Sports Car</h1>
    <div *ngFor="let card of cards | contentTypeFilter:'Sports Car'" class="sport-car card">
        <div *ngIf="card.imgURL; else NoImage">
            <img [src]="card.imgURL" alt={{card.title}} (click)="log(card)">
        </div>
        <ng-template #NoImage>
            <img [src]="img" alt={{card.title}} (click)="log(card)">
        </ng-template>
        <h1>{{card.title}}</h1>
        <p>{{card.description}}</p>
        <div>Creator: {{card.creator}}</div>
        <div appHoverAffect='underline'>Type: {{card.type}}</div>
        <div *ngIf="card.tags">Tags: 
            <span *ngFor="let tag of card.tags" appHoverAffect="bold">
                {{tag}},
            </span>
        </div>
    </div>
</div>