<div>
    <div *ngIf="card.imgURL; else NoImage">
        <img [src]="card.imgURL" alt={{card.title}} (click)="log(card)">
    </div>
    <ng-template #NoImage>
        <img [src]="img" alt={{card.title}} (click)="log(card)">
    </ng-template>


    <h1>{{card.title}}</h1>
    <p>{{card.description}}</p>
    <div>Creator: {{card.creator}}</div>
    <div appHoverAffect='underline'>Type: {{card.type}}</div>
    <div *ngIf="card.tags">Tags: 
        <span *ngFor="let tag of card.tags" appHoverAffect="bold">
            {{tag}},
        </span>
    </div>

</div>
<hr>